@charset "utf-8";
@import url("common.css");

/** lineup.css **/

@keyframes morph{0%,100%{border-radius:42% 58% 70% 30%/45% 45% 55% 55%;transform:translate3d(0,0,0) rotateZ(0.01deg)}34%{border-radius:70% 30% 46% 54%/30% 29% 71% 70%;transform:translate3d(0,5px,0) rotateZ(0.01deg)}50%{opacity:0.89;transform:translate3d(0,0,0) rotateZ(0.01deg)}67%{border-radius:100% 60% 60% 100%/100% 100% 60% 60%;transform:translate3d(0,-3px,0) rotateZ(0.01deg)};}
@-webkit-keyframes morph{0%,100%{border-radius:42% 58% 70% 30%/45% 45% 55% 55%;-webkit-transform:translate3d(0,0,0) rotateZ(0.01deg)}34%{border-radius:70% 30% 46% 54%/30% 29% 71% 70%;-webkit-transform:translate3d(0,5px,0) rotateZ(0.01deg)}50%{opacity:0.89;-webkit-transform:translate3d(0,0,0) rotateZ(0.01deg)}67%{border-radius:100% 60% 60% 100%/100% 100% 60% 60%;-webkit-transform:translate3d(0,-3px,0) rotateZ(0.01deg)};}
@keyframes forward{0%{transform:translateX(-100%);}60%{transform:translateX(-80%);opacity:0;}100%{transform:translateX(0%);opacity:1;}}
@-webkit-keyframes forward{0%{-webkit-transform:translateX(-100%);}60%{-webkit-transform:translateX(-80%);opacity:0;}100%{-webkit-transform:translateX(0%);opacity:1;}}
@keyframes fluid{0%{margin-left:0px;} 50%{margin-left:-200%;} 100%{margin-left:0%;}}
@-webkit-keyframes fluid{0%{margin-left:0px;} 50%{margin-left:-200%;} 100%{margin-left:0%;}}

@media screen and (min-width:1664px){
    .lineup{width:1400px;height:800px;margin:auto;overflow:hidden;position:relative;}
    .lineup .lineup_img_wrapper{width:100%;height:550px;position:relative;}
    .lineup .lineup_img_wrapper .lineup_img_mask{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.4);z-index:2;}
    .lineup .lineup_img_wrapper img{transform:translateX(-5%);}
    .lineup .lineup_title{position:absolute;top:470px;left:50%;margin-left:-500px;width:1000px;font-family:'Noto Sans Black KR', sans-serif;font-size:120px;font-weight:900;color:#f7ed5d;line-height:120px;text-align:center;z-index:4;}
    .lineup .lineup_des{position:absolute;top:250px;left:50%;margin-left:-500px;width:1000px;font-size:48px;font-weight:300;color:#f7ed5d;line-height:60px;text-align:center;word-break:keep-all;z-index:4;}
    .lineup .lineup_dots{position:relative;margin-top:80px;width:100%;height:31px;text-align:center;}
    .lineup .lineup_dots .lineup_dot{display:inline-block;width:20px;height:20px;background:#222222;border-radius:10px;margin:8px 35px;cursor:pointer;}
    .lineup .lineup_dots .lineup_dot:hover{width:6px;height:6px;background:#222222;border-radius:10px;border:7px solid #999999;}
    .lineup .lineup_dots .lineup_dot.on{background:#f7ed5c;}
}
@media screen and (min-width:1601px) and (max-width:1663px){
    .content{padding-top:20px;overflow:hidden;}
    .lineup{width:1300px;margin:auto;overflow:hidden;}
    .lineup .lineup_img_wrapper img{transform:translateX(-10%);}
}
@media screen and (min-width:1463px) and (max-width:1600px){
    .lineup{width:1200px;margin:auto;overflow:hidden;}
    .lineup .lineup_img_wrapper img{transform:translateX(-10%);}
}
@media screen and (min-width:1024px) and (max-width:1462px) {
    .content{padding:20px;overflow:hidden;box-sizing:border-box;}
    .lineup{width:100%;height:40vw;overflow:hidden;}
    .lineup .lineup_img_wrapper img{width:auto;height:100%;transform:translateX(-10%);}
}
@media screen and (max-width:1023px) {
    .content{padding:20px;overflow:hidden;box-sizing:border-box;}
    .lineup{width:100%;height:40vw;overflow:hidden;}
    .lineup .lineup_img_wrapper img{width:auto;height:100%;transform:translateX(-10%);}   
}