@charset "utf-8";
@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

/* common */

html{font-family:'Noto Sans KR',sans-serif;color:#222222;
    /* Support for all WebKit browsers. */-webkit-font-smoothing:antialiased;
    /* Support for Safari and Chrome. */text-rendering:optimizeLegibility;
    /* Support for Firefox. */-moz-osx-font-smoothing:grayscale;}

@keyframes fade{0%{opacity:0}100%{opacity:1}}
@keyframes pop{0%{transform:scale(0,0);}95%{transform:scale(1.05,1.05);opacity:1;}100%{transform:scale(1,1);opacity:1;}}
.animatable{visibility:hidden;-webkit-animation-play-state:paused;animation-play-state:paused;}
.animated{visibility:visible;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-play-state:running;animation-play-state:running;-webkit-animation-name:anime;animation-name:anime;}
@keyframes anime{0%{opacity:0;transform:translateY(100px)}100%{opacity:1;transform:translateY(0)}}
@keyframes top{0%{transform:translateY(0px);}25%{transform:translateY(-2px);}50%{transform:translateY(-4px);}75%{transform:translateY(-2px);}100%{transform:translateY(0px);}}
@keyframes morph{0%,100%{border-radius:42% 58% 70% 30%/45% 45% 55% 55%;transform:translate3d(0,0,0) rotateZ(0.01deg)}34%{border-radius:70% 30% 46% 54%/30% 29% 71% 70%;transform:translate3d(0,5px,0) rotateZ(0.01deg)}50%{opacity:0.89;transform:translate3d(0,0,0) rotateZ(0.01deg)}67%{border-radius:100% 60% 60% 100%/100% 100% 60% 60%;transform:translate3d(0,-3px,0) rotateZ(0.01deg);}}
@keyframes forward{0%{transform:translateX(-100%);}60%{transform:translateX(-80%);opacity:0;}100%{transform:translateX(0%);opacity:1;}}
@keyframes fluid{0%{margin-left:0px;} 50%{margin-left:-200%;} 100%{margin-left:0%;}}

html{font-size:62.5%;}
body{overflow-x:hidden;}
header{width:100%;height:120px;padding:20px;box-sizing:border-box;}
#logo{width:100px;height:100%;float:left;}
#logo>a{display:block;width:100%;height:100%;background:#f7ed5c url('../img/common/logo.png') no-repeat center center;background-size:80%;}
.menu_wrap{width:30px;height:100%;float:right;}
.menu_wrap.fade_in{opacity:0;animation:fade 1s 1s forwards linear;}
.menu_wrap .util_wrap{width:100%;height:30px;margin-top:70px;display:none;}
.menu_wrap .util_wrap .util{width:320px;height:100%;float:right;position:relative;}
.menu_wrap .util_wrap .util a{display:block;width:100px;height:100%;font-size:14px;font-weight:300;text-align:center;}
.menu_wrap .util_wrap .util .lang_wrap{position:absolute;top:30px;left:-40px;z-index:10;}
.menu_wrap .util_wrap .util .lang_wrap li{float:left;}
.menu_wrap .util_wrap .util .lang_wrap li:nth-child(1) a{display:block;width:54px;text-align:right;padding-right:5px;border-right:1px dotted #666666;background:url('../img/common/lang_en.gif') no-repeat 5px center;background-size:20px;}
.menu_wrap .util_wrap .util .lang_wrap li:nth-child(2) a{display:block;width:54px;text-align:right;padding-right:5px;border-right:1px dotted #666666;background:url('../img/common/lang_ja.gif') no-repeat 5px center;background-size:20px;}
.menu_wrap .util_wrap .util .lang_wrap li:nth-child(3) a{display:block;width:54px;text-align:right;padding-right:5px;background:url('../img/common/lang_ch.gif') no-repeat 5px center;background-size:20px;}
.menu_wrap .util_wrap .util .lang_wrap li a:hover{background-color:#f7ed5c;}
.menu_wrap .util_wrap .util>li{float:left;}
.menu_wrap .util_wrap .util>li:nth-child(1) > a{background:url('../img/common/lang_ko.gif') no-repeat 5px center;background-size:20px;}
.menu_wrap .util_wrap .util #search{font-family:'Noto Sans KR';text-align:center;width:150px;height:24px;padding:0;border:none;border-bottom:2px solid #222222;position:absolute;top:30px;right:0px;z-index:10;}
.menu_wrap .util_wrap .util #search:focus{background-color:#f7ed5c;}
.menu_wrap .util_wrap .util>li .search{display:block;width:20px;height:20px;background:url('../img/common/search_btn.png') no-repeat center center;position:absolute;top:0px;right:0px;z-index:20;transition:all 0.3s ease-in;}
.menu_wrap .gnb{width:100%;height:auto;}
.menu_wrap .gnb > ul{width:100%;height:auto;float:right;transition:all 1s;}
.menu_wrap .gnb li{position:relative;display:none;}
.menu_wrap .gnb > ul > li:nth-child(1), .close_btn{display:block;width:30px;height:30px;margin-top:26px;}
.menu_wrap .gnb > ul > li:nth-child(1) a, .close_btn a{display:block;}
.menu_wrap .gnb > ul > li .menu_bar{display:block;width:30px;height:3px;margin-bottom:8px;background:#222222;}
.menu_wrap .gnb > ul > li > a{display:block;width:100%;height:100%;overflow:hidden;text-align:center;font-size:1.8rem;font-weight:900;line-height:6rem;margin:auto;}
.menu_wrap .gnb > ul > li > a .highlight{position:absolute;top:0px;left:50%;margin-left:-75px;z-index:-1;display:block;width:150px;height:0px;background:#f7ed5c;transition: all 0.2s ease-in;}
.menu_wrap .gnb > ul > li > a:hover .highlight{top:30px;height:16px;}
.menu_wrap .gnb > ul > li > a.on .highlight{top:30px;height:16px;}
.menu_wrap .gnb > ul.on{display:block;width:100%;height:100%;position:absolute;top:0;left:0;background:#ffffff;z-index:90;}
.menu_wrap .gnb > ul > li.on{display:block;font-size:2rem;color:#222222;z-index:100;}
.menu_wrap .gnb > ul > .close_btn.on{margin:auto;margin-top:20px;}
.menu_wrap .gnb > ul > .close_btn.on a{display:block;width:100%;}
.menu_wrap .gnb > ul > .close_btn.on .menu_bar:nth-child(1){transform:rotate(45deg) translate(10px,9px);}
.menu_wrap .gnb > ul > .close_btn.on .menu_bar:nth-child(2){display:none;}
.menu_wrap .gnb > ul > .close_btn.on .menu_bar:nth-child(3){transform:rotate(-45deg) translate(-2px,2px);}
#skip{position:fixed;top:-41px;left:0px;width:100%;font-size:16px;color:#ffffff;line-height:40px;text-align:center;background:rgba(0, 0, 0, 0.6);border-bottom:1px solid #ffffff;z-index:10000;transition:top 0.3s;}
#skip:focus{top:0px;}

#aside_sticky{width:100vw;height:64px;position:fixed;left:0px;bottom:0px;z-index:100;opacity:0;background:#f7ed5c;}
#aside_sticky.on{display:none;}
#aside_sticky.fade_in{animation:fade 1s 1.5s forwards linear;}
#aside_sticky .search_bike a{display:block;width:100%;height:64px;line-height:6.4rem;text-align:center;font-size:1.8rem;font-weight:900;}
#aside_sticky .search_bike .search_bg{display:none;}
#aside_sticky .search_bike a .fluid_bar{display:none;}
#aside_sticky .top_btn{display:none;}
#aside_sticky .sns_wrap{display:none;}

footer{width:100%;height:380px;color:#666666;padding-top:20px;border-top:1px solid #eeeeee;padding:0px 20px;box-sizing:border-box;}
footer .footer_head{width:100%;height:79px;margin:auto;border-bottom:1px solid #666666;padding-top:10px;}
footer .footer_head .footer_menu{width:100%;height:100%;float:left;font-size:1.4rem;line-height:3.2rem;}
footer .footer_head .footer_menu a{display:inline-block;font-size:1.4rem;line-height:2.4rem;margin-right:30px;color:#666666;border-bottom:4px solid transparent;}
footer .footer_head .footer_menu a:hover{border-bottom:4px solid #f7ed5c;}
footer .footer_head .footer_menu .family_site span{display:none;}
footer .footer_head .footer_menu .family_site a:nth-child(3){width:100px;text-align:center;}
footer .footer_head .newsletter_submit{display:none;}
footer .footer_des{width:100%;height:auto;margin:auto;padding-top:40px;text-align:center;}
footer .footer_des h3{font-size:2rem;}
footer .footer_des address{font-size:1.2rem;line-height:2.4rem;margin-top:30px;}
footer .footer_des p{font-size:1.2rem;line-height:2rem}
@media screen and (min-width:1024px){
    footer .footer_head{height:86px;}
    footer .footer_head .footer_menu{width:50%;}
    footer .footer_head .newsletter_submit{width:45%;height:52px;border:4px solid #f7ed5c;padding:8px;float:right;}
    footer .footer_head .newsletter_submit #newsletter_submit{font-family:'Noto Sans KR';font-size:16px;width:85%;height:50px;background:none;border:none;border-right:4px solid #f7ed5c;}
    footer .footer_head .newsletter_submit #newsletter_submit::placeholder{font-family:'Noto Sans KR';font-size:14px;text-align:center;}
    footer .footer_head .newsletter_submit #newsletter_submit:-ms-input-placeholder{font-family:'Noto Sans KR';font-size:14px;text-align:center;}
    footer .footer_head .newsletter_submit #submit_btn{font-family:'Noto Sans KR';font-size:16px;width:12%;height:100%;font-weight:900;background:none;border:none;color:#666666;cursor:pointer;}
}

/* index */

.content{padding:20px;overflow:hidden;box-sizing:border-box;}
.main_visual{width:100%;height:auto;margin-bottom:200px;position:relative;}
.main_visual.on{z-index:-1;}
.main_visual .slide_bg{position:absolute;top:-2%;left:5%;width:80vw;height:81vw;background-image:linear-gradient(120deg, #f7ed5c 0%, #eee34d 100%);border-radius:42% 58% 70% 30% / 45% 45% 55% 55%;animation:morph 3s linear infinite;z-index:-1;}
.main_visual .slide_imgs{position:relative;width:100%;height:54vw;overflow:hidden;box-shadow:0 0 30px #808080;opacity:0;transform:translateX(-100%);}
.main_visual .slide_imgs.forward{animation:forward 1s 2s forwards ease-in;}
.main_visual .slide_imgs .slide_img{position:absolute;top:0;left:0;transform:translateX(-100%);transition:all 1s ease-out;opacity:0;width:100%;}
.main_visual .slide_imgs .slide_img.active_slide{transform:translateX(0%);opacity:1;}
.main_visual .slide_con_wrap{position:relative;width:100%;height:370px;overflow:hidden;opacity:0;}
.main_visual .slide_con_wrap.pop_out{animation:pop 0.5s 2.5s forwards ease-out;}
.main_visual .slide_con_wrap .slide_con{position:absolute;top:0;left:0;transform:translateY(100%);width:100%;height:590px;padding-top:100px;transition:all 1s ease-in;}
.main_visual .slide_con_wrap .slide_con.active_slide{transform:translateY(0%);}
.main_visual .slide_con_wrap .slide_con .slide_title{font-size:3rem;line-height:4rem;font-family:'Noto Sans KR Black';font-weight:900;margin-bottom:20px;word-break:keep-all;}
.main_visual .slide_con_wrap .slide_con .slide_des{font-size:1.4rem;line-height:2rem;font-weight:300;margin-bottom:70px;}
.main_visual .slide_con_wrap .slide_con .slide_btn{width:100%;height:auto;}
.main_visual .slide_con_wrap .slide_con .slide_btn a{display:block;font-size:1.6rem;line-height:3.6rem;font-weight:900;margin-left:10px;}
.main_visual .slide_con_wrap .slide_con .slide_btn a .fluid_bar{display:block;width:20px;height:4px;background:#222222;margin-left:-10px;transition:all 0.3s ease-in;}
.main_visual .slide_con_wrap .slide_con .slide_btn a:hover .fluid_bar{width:178px;}
.main_visual .slide_dots{width:100%;height:auto;position:absolute;top:60vw;left:0;opacity:0;}
.main_visual .slide_dots.pop_out{animation:pop 0.5s 2.5s forwards ease-out;}
.main_visual .slide_dots .slide_dot{display:inline-block;width:15px;height:15px;background:#222222;border-radius:8px;margin-right:2px;cursor:pointer;}
.main_visual .slide_dots .slide_dot.active_slide{background:#f7ed5c;}
.main_visual .slide_dots .slide_dot:hover{width:5px;height:5px;background:#222222;border-radius:7px;border:5px solid #999999;}
.alton_story{width:100%;height:500px;position:relative;margin-bottom:200px;}
.alton_story h2{width:100%;height:auto;line-height:7rem;font-family:'Noto Sans KR Black';font-weight:900;font-size:8rem;color:#f7ed5c;position:absolute;top:0;left:0;margin-top:-46px;text-align:center;letter-spacing:-5px;}
.alton_story .story_bg{width:100%;height:100%;margin:auto;background:url('../img/story_bg.jpg') no-repeat center center;background-size:cover;}
.alton_story .story_bg .story_des{width:100%;height:auto;text-align:center;padding-top:150px;font-size:1.4rem;line-height:2.4rem;font-weight:900;}
.alton_story .story_bg .story_btn{width:100%;height:auto;}
.alton_story .story_bg .story_btn a{display:block;width:120px;height:auto;text-align:center;margin:auto;font-size:1.6rem;line-height:3.6rem;font-weight:900;margin-top:30px;}
.alton_story .story_bg .story_btn a .fluid_bar{display:block;width:20px;height:4px;background:#222222;margin-left:-10px;transition:all 0.3s ease-in;}
.alton_story .story_bg .story_btn a:hover .fluid_bar{width:140px;}
.alton_story .story_bg .story_fluid{width:320%;height:180px;overflow:hidden;font-family:'Noto Sans KR Black';font-weight:900;font-size:22rem;line-height:18rem;color:rgba(240, 240, 240, 0.8);position:absolute;bottom:0;left:0;animation:fluid 600s infinite;}
.alton_style{width:100%;height:630px;margin-bottom:200px;position:relative;}
.alton_style .style_bg{position:absolute;top:50%;margin-top:-360px;left:50%;margin-left:-573px;width:800px;height:746px;background-image:linear-gradient(180deg, #f7ed5c 0%, #eee34d 100%);border-radius:42% 58% 70% 30% / 45% 45% 55% 55%;animation:morph 5s linear infinite;z-index:-1;}
.alton_style .style_title{width:100%;height:34px;line-height:3.4rem;margin:auto;margin-bottom:20px;}
.alton_style .style_title h2{width:100%;font-size:2.4rem;font-weight:900;}
.alton_style .style_title a{display:none;}
.alton_style .style_slide{width:100%;height:600px;}
.alton_style .style_slide .style_imgs{display:none;}
.alton_style .style_slide .style_list{width:100%;height:100%;}
.alton_style .style_slide .style_list li{width:100%;height:100px;overflow:hidden;}
.alton_style .style_slide .style_list a{display:block;width:100%;height:96px;line-height:9.6rem;border-bottom:4px solid #222222;font-size:1.6rem;font-weight:900;transition:all 0.3s ease-in;}
.alton_style .style_slide .style_list a span{position:relative;display:inline-block;width:90%;top:0;left:0;transition:all 0.3s ease-in;}
.alton_style .style_slide .style_list li span::after{font-family:'Noto Sans KR Black';font-weight:900;font-size:3rem;position:absolute;top:100px;left:0;}
.alton_style .style_slide .style_list li:nth-child(1) span::after{content:'전기자전거';}
.alton_style .style_slide .style_list li:nth-child(2) span::after{content:'산악자전거';}
.alton_style .style_slide .style_list li:nth-child(3) span::after{content:'로드';}
.alton_style .style_slide .style_list li:nth-child(4) span::after{content:'하이브리드';}
.alton_style .style_slide .style_list li:nth-child(5) span::after{content:'미니벨로';}
.alton_style .style_slide .style_list li:nth-child(6) span::after{content:'폴딩';}
.alton_style .style_slide .style_list li:hover span{top:-100px;}
.alton_style .style_slide .style_list a img{width:20px;margin-top:40px;float:right;}
.alton_video{width:100%;height:auto;margin-bottom:200px;position:relative;}
.alton_video .video{width:100%;height:100%;}
.alton_video .video video{min-width:100%;min-height:100%;width:20vw;height:auto;}
.alton_video .share_btn{-webkit-filter:url("#goo");filter:url("#goo");position:absolute;top:-60px;right:-50%;width:100%;height:100%;box-sizing:border-box;font-size:20px;text-align:left;}
#goo{position:absolute;top:0;left:0;z-index:-1;}
.alton_video .share_btn .share_open_btn, .alton_video .share_btn .share_item{background:rgb(247, 237, 92);border:1px solid transparent;border-radius:100%;width:50px;height:50px;margin-left:-25px;position:absolute;top:30px;color:#fff;text-align:center;line-height:40px;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition:-webkit-all ease-out 0.2s;transition:all ease-out 0.2s;}
.alton_video .share_btn .share_open_btn img, .alton_video .share_btn .share_item img{width:20px;vertical-align:-7px;}
.alton_video .share_btn .share_open{display:none;}
.alton_video .share_btn .share_open_btn{z-index:2;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.275);transition-timing-function:cubic-bezier(.175,.885,.32,1.275);-webkit-transition-duration:.4s;transition-duration:.4s;-webkit-transform:scale(1.1,1.1) translate3d(0,0,0);transform:scale(1.1,1.1) translate3d(0,0,0);cursor:pointer;}
.alton_video .share_btn .share_open_btn:hover{-webkit-transform:scale(1.2,1.2) translate3d(0,0,0);transform:scale(1.2,1.2) translate3d(0,0,0);}
.alton_video .share_btn .share_item:hover{background:#ffffff;border:1px solid #f7ed5c;}
.alton_video .share_btn .share_open:checked+.share_open_btn{-webkit-transition-timing-function:linear;transition-timing-function:linear;-webkit-transition-duration:.2s;transition-duration:.2s;-webkit-transform:scale(.8,.8) translate3d(0,0,0);transform:scale(.8,.8) translate3d(0,0,0);}
.alton_video .share_btn .share_open:checked~.share_item{-webkit-transition-timing-function:cubic-bezier(.935,0,.34,1.33);transition-timing-function:cubic-bezier(.935,0,.34,1.33);}
.alton_video .share_btn .share_open:checked~.share_item:nth-child(3){-webkit-transition-duration:380ms;transition-duration:380ms;-webkit-transform:translate3d(60.95px,-52.48px,0);transform:translate3d(60.95px,-52.48px,0);}
.alton_video .share_btn .share_open:checked~.share_item:nth-child(4){-webkit-transition-duration:480ms;transition-duration:480ms;-webkit-transform:translate3d(.08px,-80px,0);transform:translate3d(.08px,-80px,0);}
.alton_video .share_btn .share_open:checked~.share_item:nth-child(5){-webkit-transition-duration:580ms;transition-duration:580ms;-webkit-transform:translate3d(-60.86px,-52.62px,0);transform:translate3d(-60.86px,-52.62px,0);}
.alton_service{width:100%;height:auto;margin-bottom:200px;}
.alton_service .service_wrapper{width:100%;height:auto;background:#ffffff;}
.alton_service .service_wrapper h2{width:100%;height:auto;margin:auto;font-size:2.4rem;}
.alton_service .service_wrapper .service_inner_wrapper{width:100%;height:auto;margin:auto;}
.alton_service .service_wrapper .service_con{width:100%;height:530px;margin-top:20px;cursor:pointer;text-align:center;}
.alton_service .service_wrapper .service_con:nth-child(2){margin-right:0px;}
.alton_service .service_wrapper .service_con .service_img{width:100%;height:100%;position:relative;}
.service_con .service_img .service_mask{width:100%;height:100%;position:absolute;top:0;right:0;background:rgba(247,237,92,0.7);z-index:2;transition:all 1s;}
.service_con .service_img.school{background:url('../img/service_con01.jpg') no-repeat center center;background-size:cover;}
.service_con .service_img.search{background:url('../img/service_con02.jpg') no-repeat center center;background-size:cover;}
.service_con .service_img .service_title{width:100%;font-family:'Noto Sans KR Black';font-weight:900;font-size:4rem;position:absolute;top:100px;left:0;z-index:10;transition:all 1s;word-break:keep-all;}
.service_con .service_img .service_des{width:100%;font-size:1.6rem;line-height:30px;position:absolute;top:250px;left:0;z-index:10;transition:all 1s;word-break:keep-all;}
.service_con .service_img .service_btn{width:120px;position:absolute;top:348px;left:50%;margin-left:-60px;z-index:10;transition:all 1s;}
.service_con .service_img .service_btn a{display:block;font-size:2rem;line-height:3rem;font-weight:900;color:#222222;}
.service_con .service_img .service_btn a .fluid_bar{display:block;width:20px;height:4px;background:#222222;margin-left:-10px;transition:all 0.3s ease-in;}
.service_con .service_img .service_btn a:hover .fluid_bar{width:135px;}
@media screen and (min-width:1024px){
    .main_visual .slide_bg{top:-5%;left:27%;width:36vw;height:36vw;}
    .main_visual .slide_imgs{width:56%;height:32vw;float:left;}
    .main_visual .slide_con_wrap{width:40%;height:32vw;float:right;}
    .slide_con{padding-top:50px;}
    .main_visual .slide_dots{top:30vw;left:60%;}
    .alton_style .style_slide .style_imgs{display:block;position:relative;width:44%;height:100%;overflow:hidden;float:left;box-shadow:0 0 30px #808080;}
    .alton_style .style_slide .style_imgs .style_img{position:absolute;top:0;left:0;height:100%;transform:translateX(-100%);transition:all 0.3s ease-in;}
    .alton_style .style_slide .style_imgs .style_img.active_slide{transform:translateX(0%);}
    .alton_style .style_slide .style_list{width:49%;float:right;}
    .alton_video .share_btn{right:0px;width:280px;height:250px;}
    .alton_video .share_btn .share_open_btn, .alton_video .share_btn .share_item{width:70px;height:70px;margin-left:-35px;top:20px;line-height:60px;}
    .alton_video .share_btn .share_open:checked~.share_item:nth-child(3){-webkit-transform:translate3d(90.95px,52.48px,0);transform:translate3d(90.95px,52.48px,0);}
    .alton_video .share_btn .share_open:checked~.share_item:nth-child(4){-webkit-transform:translate3d(.08px,105px,0);transform:translate3d(.08px,105px,0);}
    .alton_video .share_btn .share_open:checked~.share_item:nth-child(5){-webkit-transform:translate3d(-90.86px,52.62px,0);transform:translate3d(-90.86px,52.62px,0);}
    .alton_service{height:586px;}
    .alton_service .service_wrapper .service_con{width:49%;margin-left:2%;float:left;}
    .alton_service .service_wrapper .service_con:nth-child(1){margin-left:0px;}
    .service_mask{background:rgba(255,255,255,0.4);}
    .service_con .service_img:hover .service_mask{background:#f7ed5c;}
    .service_con .service_img .service_des{padding:0 10%;box-sizing:border-box;}
}

/* lineup */

.lineup{width:100%;height:auto;position:relative;margin-bottom:100px;}
.lineup .lineup_img_wrapper{width:100%;height:60vw;position:relative;overflow:hidden;box-shadow:0 0 30px #808080;}
.lineup .lineup_img_wrapper img{width:auto;height:100%;transform:translateX(-10%);}
.lineup .lineup_img_wrapper .lineup_img_mask{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.4);z-index:2;}
.lineup .lineup_img_wrapper .lineup_img_box{height:100%;}
.lineup .lineup_title{position:absolute;top:54vw;left:0px;width:100%;font-family:'Noto Sans KR Black';font-size:10vw;font-weight:900;color:#f7ed5d;line-height:10vw;text-align:center;z-index:4;}
.lineup .lineup_des{position:absolute;top:23vw;left:10%;width:80%;font-size:5vw;font-weight:300;color:#f7ed5d;line-height:7vw;text-align:center;word-break:keep-all;z-index:4;}
.lineup .lineup_dots{position:relative;margin-top:9vw;width:100%;height:auto;text-align:center;margin-bottom:6vw;}
.lineup .lineup_dots .lineup_dot{display:inline-block;width:20px;height:20px;background:#222222;border-radius:10px;margin:8px 13px;cursor:pointer;}
.lineup .lineup_dots .lineup_dot:hover{width:6px;height:6px;background:#222222;border-radius:10px;border:7px solid #999999;}
.lineup .lineup_dots .lineup_dot.on{background:#f7ed5c;}
.lineup .tabs_wrapper{width:100%;height:auto;}
.lineup .tabs_wrapper .tabs_head{width:100%;height:50px;border-bottom:1px solid #999999;margin-bottom:5vw;}
.lineup .tabs_wrapper .tabs_head>div{width:80px;height:40px;float:left;}
.lineup .tabs_wrapper .tabs_head>div>a{display:block;width:40px;height:100%;float:left;cursor:pointer;}
.lineup .tabs_wrapper .tabs_head .tab_sort{float:right;}
.lineup .tabs_wrapper .tabs_head .tab_sort a{box-sizing:border-box;border:1px solid transparent;}
.lineup .tabs_wrapper .tabs_head .tab_view .list_view_btn{background: url(../img/html/list_view_btn.png) no-repeat center center;background-size:contain;}
.lineup .tabs_wrapper .tabs_head .tab_view .grid_view_btn{background: url(../img/html/grid_view_btn.png) no-repeat center center;background-size:contain;}
.lineup .tabs_wrapper .tabs_head .tab_view a.on,.lineup .tabs_wrapper .tabs_head .tab_sort a.on{background-color:#f7ed5c;}
.lineup .tabs_wrapper .tabs_head .tab_sort .all_sort_btn{background: url(../img/html/all_sort_btn.png) no-repeat center center;}
.lineup .tabs_wrapper .tabs_head .tab_sort .price_sort_btn{background: url(../img/html/price_sort_btn.png) no-repeat center center;}
.lineup .tabs_wrapper .tabs{width:100%;height:auto;}
.lineup .tabs_wrapper .tabs .tab_default{width:100%;height:auto;padding:10vw;box-sizing:border-box;text-align:center;font-size:1.6rem;line-height:3rem;}
.lineup .tabs_wrapper .tab{width:100%;height:auto;}
.lineup .tabs_wrapper .tab .tab_con{width:48%;height:auto;position:relative;box-sizing:border-box;padding:2%;border:1px solid #f2f2f2;overflow:hidden;margin-bottom:10vw;}
.lineup .tabs_wrapper .tab .tab_con.list_view{width:100%;border:1px solid transparent;margin-bottom:20px;border:1px solid #f7ed5c;transition:all 0.3s;}
.lineup .tabs_wrapper .tab .tab_con img{width:100%;}
.lineup .tabs_wrapper .tab .tab_con.list_view img{margin-top:24vw;width:100%;}
.lineup .tabs_wrapper .tab .tab_con:nth-child(n){float:right;}
.lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(n) img{float:left;}
.lineup .tabs_wrapper .tab .tab_con:nth-child(2n){float:left;}
.lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n) img{float:right;}
.lineup .tabs_wrapper .tab .tab_con .tab_con_mask{position:absolute;top:0px;left:0;width:100%;height:100%;background:rgba(247,237,92,0.8);font-family:'Noto Sans KR Black';font-size:4vw;color:#222222;text-align:center;transition:all 0.3s;}
.lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask{top:0px;left:0px;width:100%;height:24vw;background:#f7ed5c;}
.lineup .tabs_wrapper .tab .tab_con .tab_con_mask a{display:block;width:100%;height:100%;padding-top:10vw;font-weight:900;box-sizing:border-box;}
.lineup .tabs_wrapper .tab .tab_con .tab_con_mask a p{display:none;}
.lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask a{font-size:5vw;padding-top:3vw;box-sizing:border-box;}
.lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask a p{font-size:3vw;display:block;margin-top:5vw;text-align:center;transition:all 0.5s;}
.lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask a p:nth-child(2){display:none;}
.lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask a p span{display:inline-block;font-size:1.2rem;font-weight:300;border:1px solid #999999;padding:5px;transition:all 0.3s ease-in;}
@media screen and (min-width:1024px){
    .lineup .lineup_img_wrapper{height:45vw;}
    .lineup .lineup_des{top:20vw;font-size:3vw;line-height:4vw;}
    .lineup .lineup_title{top:40vw;font-size:8vw;line-height:8vw;}
    .lineup .tabs_wrapper .tab .tab_con .tab_con_mask{font-size:3vw;top:-600px;}
    .lineup .tabs_wrapper .tab .tab_con:hover .tab_con_mask{top:0px;}
    .lineup .tabs_wrapper .tab .tab_con .tab_con_mask a{padding-top:12vw;}
    .lineup .tabs_wrapper .tab .tab_con.list_view{width:100%;border:1px solid transparent;margin-bottom:20px;opacity:0.5;transition:all 0.3s;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:hover{border:1px solid #f7ed5c;opacity:1;}
    .lineup .tabs_wrapper .tab .tab_con.list_view img{width:60vw;margin:0px;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(n) img{float:left;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n) img{float:right;}
    .lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask{top:0px;left:50%;width:50%;height:100%;background:#999999;transform:skew(30deg,0deg);margin-left:300px;transition:all 0.5s ease-in;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n) .tab_con_mask{left:0px;transform:skew(-30deg,0deg);margin-left:-300px;}
    .lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask a{font-size:3vw;transform:skew(-30deg,0deg);margin-left:-100px;padding:0px 80px;padding-top:10vw;box-sizing:border-box;}
    .lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask a p{display:block;margin-top:70px;color:#999999;text-align:left;margin-left:150px;transition:all 0.5s;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:hover .tab_con_mask a p{margin-left:0px;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:hover .tab_con_mask a p:nth-child(1){color:#222222;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n) .tab_con_mask a{transform:skew(30deg,0deg);margin-left:100px;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n) .tab_con_mask a p{text-align:right;margin-left:0px;margin-right:150px;transition:all 0.5s;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:hover .tab_con_mask{margin-left:200px;background:#f7ed5c;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n):hover .tab_con_mask{margin-left:-200px;}
    .lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n):hover .tab_con_mask a p{margin-right:0px;}
}
/* detail */
.detail{width:100%;height:auto;position:relative;margin-bottom:100px;}
.detail .detail_img_wrapper{width:100%;height:60vw;padding:3vw;position:relative;box-shadow:0 0 30px #808080;box-sizing:border-box;}
.detail .detail_img_wrapper .detail_img{width:100%;height:100%;position:relative;}
.detail .detail_img_wrapper .detail_img .img{opacity:0.5;width:100%;position:absolute;top:0px;left:0px;transition:all 0.5s ease-out;}
.detail .detail_img_wrapper .detail_img .img.on{opacity:1;}
.detail .detail_img_wrapper .detail_title{position:absolute;top:49vw;left:5vw;width:100%;height:auto;line-height:8vw;font-size:8vw;font-family:'Noto Sans KR Black';font-weight:900;letter-spacing:2vw;}
.detail .detail_img_wrapper .detail_title .sub_title{font-size:4vw;line-height:7vw;}
.detail .detail_img_wrapper .detail_color{position:absolute;top:-15px;right:10px;width:70px;height:30px;}
.detail .detail_img_wrapper .detail_color a{display:block;width:30px;height:100%;float:left;border-radius:15px;border:5px solid #ffffff;box-sizing:border-box;}
.detail .detail_img_wrapper .detail_color a.on{border:5px solid #f7ed5c;}
.detail .detail_img_wrapper .detail_color .chacol{background-color:#222222;}
.detail .detail_img_wrapper .detail_color .grey{background-color:#666666;float:right;}
.detail .detail_contents_wrapper{width:100%;height:auto;margin-top:60px;}
.detail .detail_contents_wrapper .detail_summary{width:100%;height:auto;}
.detail .detail_contents_wrapper .detail_summary .summary_wrapper{width:100%;height:auto;margin:20px 0px;font-weight:900;text-indent:5vw;letter-spacing:1vw;}
.detail .detail_contents_wrapper .detail_summary .summary_wrapper .description{width:100%;line-height:7vw;font-size:5vw;}
.detail .detail_contents_wrapper .detail_summary .summary_wrapper .category{width:100%;line-height:3vw;font-size:2.4vw;color:#808080;}
.detail .detail_contents_wrapper .detail_shop{width:100%;height:40vw;margin-top:100px;font-weight:900;line-height:20vw;background:#f7ed5c;text-align:center;font-size:5vw;}
.detail .detail_contents_wrapper .detail_shop a{display:block;width:40vw;height:14vw;background-color:#808080;font-size:5vw;line-height:14vw;color:#f7ed5c;margin:auto;transition:background-color 0.3s;}
.detail .detail_contents_wrapper .detail_shop a:hover{background-color:#222222;}
.detail .detail_contents_wrapper .detail_part_view{position:relative;width:100%;height:50vw;overflow:hidden;margin-top:100px;}
.detail .detail_contents_wrapper .detail_part_view .detail_part_view_wrapper{position:relative;width:100%;margin:auto;}
.detail .detail_contents_wrapper .detail_part_view .detail_part_view_wrapper img{position:absolute;top:0;left:0;width:100%;}
.detail .detail_contents_wrapper .detail_part_view .detail_part_view_dots{position:absolute;bottom:2vw;left:50%;margin-left:-45px;width:90px;height:30px;}
.detail .detail_contents_wrapper .detail_part_view .detail_part_view_dots .dot{display:block;width:20px;height:20px;background:#222222;border-radius:10px;margin:5px;float:left;}
.detail .detail_contents_wrapper .detail_part_view .detail_part_view_dots .dot.on{background:#f7ed5c;}
.detail .detail_contents_wrapper .detail_more{position:relative;width:100%;height:auto;overflow:hidden;margin-top:100px;}
.detail .detail_contents_wrapper .detail_more .detail_more_img img{width:100%;}
.detail .detail_contents_wrapper .detail_more .detail_more_text{width:100%;height:auto;margin-top:50px;font-size:3vw;line-height:4vw;color:#666666;font-weight:300;text-align:center;}
.detail .detail_contents_wrapper .to_list{display:block;width:40vw;height:10vw;font-size:4vw;line-height:10vw;margin:auto;margin-top:100px;background:#f7ed5c;color:#222222;text-align:center;}
.detail .detail_contents_wrapper .to_list:hover{background:#222222;color:#f7ed5c;}
@media screen and (min-width:1024px){
    .detail .detail_img_wrapper{height:65vw;}
    .detail .detail_img_wrapper .detail_title{top:54vw;}
    .detail .detail_img_wrapper .detail_color{top:63vw;right:4vw;width:100px;height:40px;}
    .detail .detail_img_wrapper .detail_color a{width:40px;float:left;border-radius:20px;border:8px solid #ffffff;}
    .detail .detail_img_wrapper .detail_color a.on{border:8px solid #f7ed5c;}
    .detail .detail_contents_wrapper{margin-top:100px;}
    .detail .detail_contents_wrapper .detail_summary .summary_wrapper{margin:40px 0px;}
    .detail .detail_contents_wrapper .detail_summary .summary_wrapper .description{line-height:6vw;font-size:3.8vw;}
    .detail .detail_contents_wrapper .detail_summary .summary_wrapper .category{line-height:2vw;font-size:2vw;}
    .detail .detail_contents_wrapper .detail_shop{height:22vw;line-height:10vw;font-size:3vw;}
    .detail .detail_contents_wrapper .detail_shop a{width:24vw;height:8vw;font-size:3vw;line-height:8vw;}
    .detail .detail_contents_wrapper .detail_more .detail_more_text{font-size:1.8vw;}
    .detail .detail_contents_wrapper .to_list{width:24vw;height:6vw;font-size:2vw;line-height:6vw;}
}