@charset "utf-8";
@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

/* common */
body{overflow-x:hidden;}
html{font-family:'Noto Sans KR',sans-serif;color:#222222;
    /* Support for all WebKit browsers. */-webkit-font-smoothing:antialiased;
    /* Support for Safari and Chrome. */text-rendering:optimizeLegibility;
    /* Support for Firefox. */-moz-osx-font-smoothing:grayscale;}

@keyframes fade{0%{opacity:0}100%{opacity:1}}
@keyframes pop{0%{transform:scale(0,0);}95%{transform:scale(1.05,1.05);opacity:1;}100%{transform:scale(1,1);opacity:1;}}
.animatable{visibility:hidden;-webkit-animation-play-state:paused;animation-play-state:paused;}
.animated{visibility:visible;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-play-state:running;animation-play-state:running;-webkit-animation-name:anime;animation-name:anime;}
@keyframes anime{0%{opacity:0;transform:translateY(100px)}100%{opacity:1;transform:translateY(0)}}
@keyframes top{0%{transform:translateY(0px);}25%{transform:translateY(-2px);}50%{transform:translateY(-4px);}75%{transform:translateY(-2px);}100%{transform:translateY(0px);}}
@keyframes morph{0%,100%{border-radius:42% 58% 70% 30%/45% 45% 55% 55%;transform:translate3d(0,0,0) rotateZ(0.01deg)}34%{border-radius:70% 30% 46% 54%/30% 29% 71% 70%;transform:translate3d(0,5px,0) rotateZ(0.01deg)}50%{opacity:0.89;transform:translate3d(0,0,0) rotateZ(0.01deg)}67%{border-radius:100% 60% 60% 100%/100% 100% 60% 60%;transform:translate3d(0,-3px,0) rotateZ(0.01deg);}}
@keyframes forward{0%{transform:translateX(-100%);}60%{transform:translateX(-80%);opacity:0;}100%{transform:translateX(0%);opacity:1;}}
@keyframes fluid{0%{margin-left:0px;} 50%{margin-left:-200%;} 100%{margin-left:0%;}}

header{width:100%;height:200px;}
#logo{width:226px;height:200px;float:left;}
#logo>a{display:block;margin-top:30px;margin-left:43px;width:140px;height:140px;background:#f7ed5c url('../img/common/logo.png') no-repeat center center}
.menu_wrap{width:1200px;height:100%;margin-left:20px;float:left;}
.menu_wrap.fade_in{opacity:0;animation:fade 1s 1s forwards linear;}
.menu_wrap .util_wrap{width:100%;height:30px;margin-top:70px;}
.menu_wrap .util_wrap .util{width:320px;height:100%;float:right;position:relative;}
.menu_wrap .util_wrap .util a{display:block;width:100px;height:100%;font-size:14px;font-weight:300;text-align:center;}
.menu_wrap .util_wrap .util .lang_wrap{position:absolute;top:30px;left:-40px;z-index:10;}
.menu_wrap .util_wrap .util .lang_wrap li{float:left;}
.menu_wrap .util_wrap .util .lang_wrap li:nth-child(1) a{display:block;width:54px;text-align:right;padding-right:5px;border-right:1px dotted #666666;background:url('../img/common/lang_en.gif') no-repeat 5px center;background-size:20px;}
.menu_wrap .util_wrap .util .lang_wrap li:nth-child(2) a{display:block;width:54px;text-align:right;padding-right:5px;border-right:1px dotted #666666;background:url('../img/common/lang_ja.gif') no-repeat 5px center;background-size:20px;}
.menu_wrap .util_wrap .util .lang_wrap li:nth-child(3) a{display:block;width:54px;text-align:right;padding-right:5px;background:url('../img/common/lang_ch.gif') no-repeat 5px center;background-size:20px;}
.menu_wrap .util_wrap .util .lang_wrap li a:hover{background-color:#f7ed5c;}
.menu_wrap .util_wrap .util>li{float:left;}
.menu_wrap .util_wrap .util>li:nth-child(1) > a{background:url('../img/common/lang_ko.gif') no-repeat 5px center;background-size:20px;}
.menu_wrap .util_wrap .util #search{font-family:'Noto Sans KR',sans-serif;text-align:center;width:150px;height:24px;padding:0;border:none;border-bottom:2px solid #222222;position:absolute;top:30px;right:0px;z-index:10;}
.menu_wrap .util_wrap .util #search:focus{background-color:#f7ed5c;}
.menu_wrap .util_wrap .util>li .search{display:block;width:20px;height:20px;background:url('../img/common/search_btn.png') no-repeat center center;position:absolute;top:0px;right:0px;z-index:20;transition:all 0.3s ease-in;}
.menu_wrap .gnb{width:100%;height:60px;margin-top:20px;}
.menu_wrap .gnb > ul{width:850px;height:100%;float:right;}
.menu_wrap .gnb > ul > li{float:left;position:relative;}
.menu_wrap .gnb > ul > li:nth-child(1){display:none;width:30px;}
.menu_wrap .gnb > ul > li:nth-child(1) a{display:block;}
.menu_wrap .gnb > ul > li:nth-child(1) .menu_bar{display:block;width:30px;height:3px;margin-bottom:8px;background:#222222;}
.menu_wrap .gnb > ul > li > a{display:block;width:170px;height:100%;overflow:hidden;text-align:center;font-size:18px;font-weight:900;line-height:60px;}
.menu_wrap .gnb > ul > li > a .highlight{position:absolute;top:0px;left:50%;margin-left:-75px;z-index:-1;display:block;width:150px;height:0px;background:#f7ed5c;transition: all 0.2s ease-in;}
.menu_wrap .gnb > ul > li > a:hover .highlight{top:30px;height:16px;}
.menu_wrap .gnb > ul > li > a.on .highlight{top:30px;height:16px;}
#skip{position:fixed;top:-41px;left:0px;width:100%;font-size:16px;color:#ffffff;line-height:40px;text-align:center;background:rgba(0, 0, 0, 0.6);border-bottom:1px solid #ffffff;z-index:10000;transition:top 0.3s;}
#skip:focus{top:0px;}

#aside_sticky{width:100px;height:500px;position:fixed;right:0;bottom:100px;z-index:10;}
#aside_sticky.fade_in{opacity:0;animation:fade 1s 1.5s forwards linear;}
#aside_sticky .search_bike a{display:block;width:26px;height:105px;padding-left:10px;line-height:18px;word-wrap:break-word;text-align:center;font-size:18px;font-weight:900;padding-top:10px;position:relative;}
#aside_sticky .search_bike .search_bg{position:absolute;top:0px;left:50%;margin-left:-60px;width:140px;height:135px;background-image:linear-gradient(120deg, #f7ed5c 0%, #eee34d 100%);border-radius:42% 58% 70% 30% / 45% 45% 55% 55%;animation:morph 3s linear infinite;z-index:-1;}
#aside_sticky .search_bike a .fluid_bar{width:4px;height:20px;background:#222222;position:absolute;top:10px;left:0;margin-top:-10px;transition: all 0.3s ease-in;}
#aside_sticky .search_bike a:hover .fluid_bar{height:110px;}
#aside_sticky .top_btn{position:absolute;bottom:100px;left:0;}
#aside_sticky .top_btn a{display:block;width:30px;height:50px;text-align:center;font-size:14px;line-height:10px;color:#222222;}
#aside_sticky .top_btn a img{width:24px;}
#aside_sticky .top_btn a:hover img{animation:top 1s 0.4s infinite;}
#aside_sticky .sns_wrap{position:absolute;bottom:0;left:0;}
#aside_sticky .sns_wrap a{display:block;width:30px;height:30px;text-align:center;}
#aside_sticky .sns_wrap a img{width:24px;vertical-align:middle;}

footer{width:100%;height:350px;color:#666666;padding-top:20px;border-top:1px solid #eeeeee;}
footer .footer_head{width:1200px;height:100px;margin:auto;border-bottom:1px solid #666666;}
footer .footer_head .footer_menu{width:600px;height:100%;float:left;font-size:16px;line-height:35px;}
footer .footer_head .footer_menu a{display:inline-block;font-size:16px;line-height:25px;margin-right:40px;color:#666666;border-bottom:4px solid transparent;}
footer .footer_head .footer_menu a:hover{border-bottom:4px solid #f7ed5c;}
footer .footer_head .footer_menu .family_site span{margin-right:20px;}
footer .footer_head .footer_menu .family_site a:nth-child(3){width:120px;text-align:center;}
footer .footer_head .newsletter_submit{width:546px;height:52px;border:4px solid #f7ed5c;padding:8px;float:left;}
footer .footer_head .newsletter_submit #newsletter_submit{font-size:16px;width:485px;height:50px;background:none;border:none;border-right:4px solid #f7ed5c;}
footer .footer_head .newsletter_submit #newsletter_submit::placeholder{font-size:14px;text-align:center;}
footer .footer_head .newsletter_submit #newsletter_submit:-ms-input-placeholder{font-size:14px;text-align:center;}
footer .footer_head .newsletter_submit #submit_btn{font-family:'Noto Sans KR',sans-serif;font-size:16px;width:46px;height:100%;font-weight:900;background:none;border:none;color:#666666;cursor:pointer;}
footer .footer_des{width:1200px;height:auto;margin:auto;padding-top:80px;text-align:center;}
footer .footer_des h3{font-size:24px;}
footer .footer_des address{font-size:16px;line-height:24px;margin-top:30px;}
footer .footer_des p{font-size:16px;line-height:24px;}
@media screen and (min-width:1663px) {
    .menu_wrap{width:1400px;}
    footer .footer_head{width:1400px;}
    footer .footer_head .footer_menu{width:700px;}
    footer .footer_head .newsletter_submit{width:646px;}
    footer .footer_head .newsletter_submit #newsletter_submit{width:580px;}
    footer .footer_des{width:1400px;}
}
@media screen and (min-width:1601px) and (max-width:1662px) {
    .menu_wrap{width:1300px;}
    footer .footer_head{width:1300px;}
    footer .footer_head .footer_menu{width:650px;}
    footer .footer_head .newsletter_submit{width:596px;}
    footer .footer_head .newsletter_submit #newsletter_submit{width:535px;}
    footer .footer_des{width:1300px;}
}

/* index */

.content{padding-top:20px;overflow:hidden;}
.main_visual{width:100%;height:760px;margin-bottom:280px;position:relative;}
.main_visual .slide_bg{position:absolute;top:50%;margin-top:-340px;left:50%;margin-left:-300px;width:600px;height:586px;background-image:linear-gradient(120deg, #f7ed5c 0%, #eee34d 100%);border-radius:42% 58% 70% 30% / 45% 45% 55% 55%;animation:morph 3s linear infinite;z-index:-1;}
.main_visual .slide_imgs{position:relative;width:900px;height:100%;overflow:hidden;float:left;box-shadow:0 0 30px #808080;opacity:0;transform:translateX(-100%);}
.main_visual .slide_imgs.forward{animation:forward 1s 2s forwards ease-in;}
.main_visual .slide_imgs .slide_img{position:absolute;top:0;left:0;margin-left:-150px;transform:translateX(-100%);transition:all 1s ease-out;opacity:0;}
.main_visual .slide_imgs .slide_img.active_slide{transform:translateX(0%);opacity:1;}
.main_visual .slide_con_wrap{position:relative;width:400px;height:640px;float:left;margin-left:100px;overflow:hidden;opacity:0;}
.main_visual .slide_con_wrap.pop_out{animation:pop 0.5s 2.5s forwards ease-out;}
.main_visual .slide_con_wrap .slide_con{position:absolute;top:0;left:0;transform:translateY(100%);width:100%;height:590px;padding-top:100px;opacity:0;transition:all 1s ease-in;}
.main_visual .slide_con_wrap .slide_con.active_slide{transform:translateY(0%);opacity:1;}
.main_visual .slide_con_wrap .slide_con .slide_title{font-family:'Noto Sans KR Black';font-size:60px;line-height:80px;font-weight:900;margin-bottom:70px;word-break:keep-all;}
.main_visual .slide_con_wrap .slide_con .slide_des{font-size:18px;line-height:36px;font-weight:300;margin-bottom:70px;}
.main_visual .slide_con_wrap .slide_con .slide_btn{width:100%;height:auto;}
.main_visual .slide_con_wrap .slide_con .slide_btn a{display:block;font-size:24px;line-height:48px;font-weight:900;margin-left:10px;}
.main_visual .slide_con_wrap .slide_con .slide_btn a .fluid_bar{display:block;width:20px;height:4px;background:#222222;margin-left:-10px;transition:all 0.3s ease-in;}
.main_visual .slide_con_wrap .slide_con .slide_btn a:hover .fluid_bar{width:256px;}
.main_visual .slide_dots{width:400px;height:70px;float:left;margin-left:100px;margin-top:50px;opacity:0;}
.main_visual .slide_dots.pop_out{animation:pop 0.5s 2.5s forwards ease-out;}
.main_visual .slide_dots .slide_dot{display:inline-block;width:15px;height:15px;background:#222222;border-radius:8px;margin-right:2px;cursor:pointer;}
.main_visual .slide_dots .slide_dot.active_slide{background:#f7ed5c;}
.main_visual .slide_dots .slide_dot:hover{width:5px;height:5px;background:#222222;border-radius:7px;border:5px solid #999999;}
.alton_story{width:100%;height:600px;position:relative;margin-bottom:280px;}
.alton_story h2{font-family:'Noto Sans KR Black';width:1200px;height:auto;line-height:150px;font-weight:900;font-size:150px;color:#f7ed5c;position:absolute;top:0;left:50%;margin-top:-95px;margin-left:-600px;text-align:center;letter-spacing:-5px;}
.alton_story .story_bg{width:1200px;height:100%;margin:auto;background:url('../img/story_bg.jpg') no-repeat center center;}
.alton_story .story_bg .story_des{width:100%;height:auto;text-align:center;padding-top:150px;font-size:16px;line-height:30px;font-weight:900;}
.alton_story .story_bg .story_btn{width:100%;height:auto;}
.alton_story .story_bg .story_btn a{display:block;width:175px;height:auto;text-align:center;margin:auto;font-size:24px;line-height:48px;font-weight:900;margin-top:30px;}
.alton_story .story_bg .story_btn a .fluid_bar{display:block;width:20px;height:4px;background:#222222;margin-left:-10px;transition:all 0.3s ease-in;}
.alton_story .story_bg .story_btn a:hover .fluid_bar{width:190px;}
.alton_story .story_bg .story_fluid{width:320%;height:235px;overflow:hidden;font-family:'Noto Sans KR Black';font-weight:900;font-size:280px;line-height:235px;color:rgba(240, 240, 240, 0.8);position:absolute;bottom:0;left:0;animation:fluid 600s infinite;}
.alton_style{width:100%;height:934px;margin-bottom:280px;position:relative;}
.alton_style .style_bg{position:absolute;top:50%;margin-top:-360px;left:50%;margin-left:-573px;width:800px;height:746px;background-image:linear-gradient(180deg, #f7ed5c 0%, #eee34d 100%);border-radius:42% 58% 70% 30% / 45% 45% 55% 55%;animation:morph 5s linear infinite;z-index:-1;}
.alton_style .style_title{width:1200px;height:34px;line-height:34px;margin:auto;margin-bottom:70px;}
.alton_style .style_title h2{width:230px;float:left;font-size:24px;font-weight:900;}
.alton_style .style_title a{display:block;width:155px;float:right;font-size:18px;font-weight:900;}
.alton_style .style_title a .fluid_bar{display:block;width:20px;height:4px;background:#222222;margin-left:-10px;transition:all 0.3s ease-in;}
.alton_style .style_title a:hover .fluid_bar{width:165px;}
.alton_style .style_slide{width:100%;height:840px;}
.alton_style .style_slide .style_imgs{position:relative;width:776px;height:100%;overflow:hidden;float:left;box-shadow:0 0 30px #808080;}
.alton_style .style_slide .style_imgs .style_img{position:absolute;top:0;left:0;margin-left:-100px;transform:translateX(-100%);transition:all 0.3s ease-in;}
.alton_style .style_slide .style_imgs .style_img.active_slide{transform:translateX(0%);}
.alton_style .style_slide .style_list{width:520px;height:100%;margin-left:100px;float:left;}
.alton_style .style_slide .style_list li{width:100%;height:140px;overflow:hidden;}
.alton_style .style_slide .style_list a{display:block;width:100%;height:136px;line-height:136px;border-bottom:4px solid #222222;font-size:20px;font-weight:900;transition:all 0.3s ease-in;}
.alton_style .style_slide .style_list a span{position:relative;display:inline-block;width:90%;top:0;left:0;transition:all 0.3s ease-in;}
.alton_style .style_slide .style_list li span::after{font-family:'Noto Sans KR Black';font-weight:900;font-size:40px;position:absolute;top:100px;left:0;}
.alton_style .style_slide .style_list li:nth-child(1) span::after{content:'전기자전거';}
.alton_style .style_slide .style_list li:nth-child(2) span::after{content:'산악자전거';}
.alton_style .style_slide .style_list li:nth-child(3) span::after{content:'로드';}
.alton_style .style_slide .style_list li:nth-child(4) span::after{content:'하이브리드';}
.alton_style .style_slide .style_list li:nth-child(5) span::after{content:'미니벨로';}
.alton_style .style_slide .style_list li:nth-child(6) span::after{content:'폴딩';}
.alton_style .style_slide .style_list li:hover span{top:-100px;}
.alton_style .style_slide .style_list a img{width:20px;margin-top:60px;float:right;}
.alton_video{width:100%;height:auto;margin-bottom:280px;position:relative;}
.alton_video .video{width:100%;height:100%;}
.alton_video .video video{min-width:100%;min-height:100%;width:auto;height:auto;}
.alton_video .share_btn{-webkit-filter:url("#goo");filter:url("#goo");position:absolute;top:-60px;right:0px;width:380px;height:250px;box-sizing:border-box;font-size:20px;text-align:left;}
#goo{position:absolute;top:0;left:0;}
.alton_video .share_btn .share_open_btn, .alton_video .share_btn .share_item{background:rgb(247, 237, 92);border-radius:100%;width:70px;height:70px;margin-left:-35px;position:absolute;top:20px;color:#fff;text-align:center;line-height:60px;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition:-webkit-all ease-out 0.2s;transition:all ease-out 0.2s;}
.alton_video .share_btn .share_open_btn img, .alton_video .share_btn .share_item img{width:20px;vertical-align:-7px;}
.alton_video .share_btn .share_open{display:none;}
.alton_video .share_btn .share_open_btn{z-index:2;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.275);transition-timing-function:cubic-bezier(.175,.885,.32,1.275);-webkit-transition-duration:.4s;transition-duration:.4s;-webkit-transform:scale(1.1,1.1) translate3d(0,0,0);transform:scale(1.1,1.1) translate3d(0,0,0);cursor:pointer;}
.alton_video .share_btn .share_open_btn:hover{-webkit-transform:scale(1.2,1.2) translate3d(0,0,0);transform:scale(1.2,1.2) translate3d(0,0,0);}
.alton_video .share_btn .share_item:hover{background:#ffffff;}
.alton_video .share_btn .share_open:checked+.share_open_btn{-webkit-transition-timing-function:linear;transition-timing-function:linear;-webkit-transition-duration:.2s;transition-duration:.2s;-webkit-transform:scale(.8,.8) translate3d(0,0,0);transform:scale(.8,.8) translate3d(0,0,0);}
.alton_video .share_btn .share_open:checked~.share_item{-webkit-transition-timing-function:cubic-bezier(.935,0,.34,1.33);transition-timing-function:cubic-bezier(.935,0,.34,1.33);}
.alton_video .share_btn .share_open:checked~.share_item:nth-child(3){-webkit-transition-duration:380ms;transition-duration:380ms;-webkit-transform:translate3d(90.95px,52.48px,0);transform:translate3d(90.95px,52.48px,0);}
.alton_video .share_btn .share_open:checked~.share_item:nth-child(4){-webkit-transition-duration:480ms;transition-duration:480ms;-webkit-transform:translate3d(.08px,105px,0);transform:translate3d(.08px,105px,0);}
.alton_video .share_btn .share_open:checked~.share_item:nth-child(5){-webkit-transition-duration:580ms;transition-duration:580ms;-webkit-transform:translate3d(-90.86px,52.62px,0);transform:translate3d(-90.86px,52.62px,0);}
.alton_service{width:100%;height:806px;margin-bottom:280px;}
.alton_service .service_wrapper{width:100%;height:600px;background:#f2f2f2;}
.alton_service .service_wrapper h2{width:1200px;height:auto;margin:auto;padding-top:80px;}
.alton_service .service_wrapper .service_inner_wrapper{width:1200px;height:auto;margin:auto;}
.alton_service .service_wrapper .service_con{width:580px;height:580px;margin-top:120px;margin-right:40px;float:left;cursor:pointer;}
.alton_service .service_wrapper .service_con:nth-child(2){margin-right:0px;}
.alton_service .service_wrapper .service_con .service_img{width:100%;height:100%;position:relative;}
.alton_service .service_wrapper .service_con:hover .service_img .service_mask{background:#f7ed5c;}
.alton_service .service_wrapper .service_con:hover .service_img.school .service_title{left:50px;letter-spacing:5px;}
.alton_service .service_wrapper .service_con:hover .service_img.search .service_title{left:60px;letter-spacing:5px;}
.alton_service .service_wrapper .service_con:hover .service_img.school .service_des{left:50px;}
.alton_service .service_wrapper .service_con:hover .service_img.search .service_des{left:60px;}
.alton_service .service_wrapper .service_con:hover .service_img.school .service_btn{left:50px;}
.alton_service .service_wrapper .service_con:hover .service_img.search .service_btn{left:60px;}
.service_con .service_img.school .service_mask{width:468px;height:100%;position:absolute;top:0;right:0;background:rgba(255,255,255,0.4);z-index:2;transition:all 1s;}
.service_con .service_img.search .service_mask{width:468px;height:100%;position:absolute;top:0;left:0;background:rgba(255,255,255,0.4);z-index:2;transition:all 1s;}
.service_con .service_img.school{background:url('../img/service_con01.jpg') no-repeat right center;}
.service_con .service_img.search{background:url('../img/service_con02.jpg') no-repeat left center;}
.service_con .service_img.school .service_title{width:100%;font-size:60px;font-family:'Noto Sans KR Black';font-weight:900;position:absolute;top:100px;left:0;z-index:10;transition:all 1s;}
.service_con .service_img.school .service_des{width:390px;font-size:18px;line-height:30px;position:absolute;top:250px;left:0;z-index:10;transition:all 1s;word-break:keep-all;}
.service_con .service_img.school .service_btn{width:130px;position:absolute;top:348px;left:0;z-index:10;transition:all 1s;}
.service_con .service_img .service_btn a{display:block;font-size:24px;line-height:30px;font-weight:900;color:#222222;}
.service_con .service_img .service_btn a .fluid_bar{display:block;width:30px;height:4px;background:#222222;margin-left:-10px;transition:all 0.3s ease-in;}
.service_con .service_img .service_btn a:hover .fluid_bar{width:135px;}
.service_con .service_img.search .service_title{width:100%;font-size:60px;font-family:'Noto Sans KR Black';font-weight:900;position:absolute;top:100px;left:150px;z-index:10;transition:all 1s;}
.service_con .service_img.search .service_des{width:354px;font-size:18px;line-height:30px;position:absolute;top:250px;left:150px;z-index:10;transition:all 1s;word-break:keep-all;}
.service_con .service_img.search .service_btn{width:130px;position:absolute;top:348px;left:150px;z-index:10;transition:all 1s;}
@media screen and (min-width:1664px){
    .main_visual .slide_imgs{width:1000px;}
    .main_visual .slide_con_wrap{width:500px;}
    .alton_story .story_bg{width:1400px;}
    .alton_style .style_title{width:1400px;}
    .alton_style .style_slide .style_list{width:680px;margin-left:200px;}
    .alton_service .service_wrapper .service_inner_wrapper{width:1400px;}
    .alton_service .service_wrapper .service_con{width:680px;}
    .alton_service .service_wrapper .service_con:hover .service_img.school .service_title{left:150px;}
    .alton_service .service_wrapper .service_con:hover .service_img.school .service_des{left:150px;}
    .alton_service .service_wrapper .service_con:hover .service_img.school .service_btn{left:150px;}
    .service_con .service_img.school .service_title{left:100px;}
    .service_con .service_img.school .service_des{left:100px;}
    .service_con .service_img.school .service_btn{left:100px;}
}
@media screen and (min-width:1601px) and (max-width:1663px){
    .main_visual .slide_imgs{width:950px;}
    .main_visual .slide_con_wrap{width:450px;}
    .alton_story .story_bg{width:1300px;}
    .alton_style .style_title{width:1300px;}
    .alton_style .style_slide .style_imgs{position:relative;width:726px;}
    .alton_style .style_slide .style_list{width:630px;margin-left:10%;}
    .alton_service .service_wrapper .service_inner_wrapper{width:1300px;}
    .alton_service .service_wrapper .service_con{width:630px;}
    .alton_service .service_wrapper .service_con:hover .service_img.school .service_title{left:100px;}
    .alton_service .service_wrapper .service_con:hover .service_img.school .service_des{left:100px;}
    .alton_service .service_wrapper .service_con:hover .service_img.school .service_btn{left:100px;}
    .service_con .service_img.school .service_title{left:50px;}
    .service_con .service_img.school .service_des{left:50px;}
    .service_con .service_img.school .service_btn{left:50px;}
}

/* lineup */

.lineup{width:1200px;margin:auto;position:relative;margin-bottom:280px;}
.lineup .lineup_img_wrapper{width:100%;height:550px;position:relative;overflow:hidden;box-shadow:0 0 30px #808080;}
.lineup .lineup_img_wrapper img{transform:translateX(-10%);}
.lineup .lineup_img_wrapper .lineup_img_mask{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.4);z-index:2;}
.lineup .lineup_img_wrapper .lineup_img_box{height:100%;}
.lineup .lineup_title{position:absolute;top:470px;left:50%;margin-left:-500px;width:1000px;font-family:'Noto Sans KR Black';font-size:120px;font-weight:900;color:#f7ed5d;line-height:120px;text-align:center;z-index:4;}
.lineup .lineup_des{position:absolute;top:250px;left:50%;margin-left:-500px;width:1000px;font-size:48px;font-weight:300;color:#f7ed5d;line-height:60px;text-align:center;word-break:keep-all;z-index:4;}
.lineup .lineup_dots{position:relative;margin-top:80px;width:100%;height:31px;text-align:center;margin-bottom:80px;}
.lineup .lineup_dots .lineup_dot{display:inline-block;width:20px;height:20px;background:#222222;border-radius:10px;margin:8px 35px;cursor:pointer;}
.lineup .lineup_dots .lineup_dot:hover{width:6px;height:6px;background:#222222;border-radius:10px;border:7px solid #999999;}
.lineup .lineup_dots .lineup_dot.on{background:#f7ed5c;}
.lineup .tabs_wrapper{width:100%;height:auto;}
.lineup .tabs_wrapper .tabs_head{width:100%;height:60px;border-bottom:1px solid #999999;margin-bottom:50px;}
.lineup .tabs_wrapper .tabs_head>div{width:100px;height:50px;float:left;}
.lineup .tabs_wrapper .tabs_head>div>a{display:block;width:50px;height:100%;float:left;cursor:pointer;}
.lineup .tabs_wrapper .tabs_head .tab_sort{float:right;}
.lineup .tabs_wrapper .tabs_head .tab_sort a{box-sizing:border-box;border:1px solid transparent;}
.lineup .tabs_wrapper .tabs_head .tab_view .list_view_btn{background: url(../img/html/list_view_btn.png) no-repeat center center;}
.lineup .tabs_wrapper .tabs_head .tab_view .grid_view_btn{background: url(../img/html/grid_view_btn.png) no-repeat center center;}
.lineup .tabs_wrapper .tabs_head .tab_view a.on,.lineup .tabs_wrapper .tabs_head .tab_sort a.on{background-color:#f7ed5c;}
.lineup .tabs_wrapper .tabs_head .tab_sort .all_sort_btn{background: url(../img/html/all_sort_btn.png) no-repeat center center;}
.lineup .tabs_wrapper .tabs_head .tab_sort .price_sort_btn{background: url(../img/html/price_sort_btn.png) no-repeat center center;}
.lineup .tabs_wrapper .tabs{width:100%;height:auto;}
.lineup .tabs_wrapper .tabs .tab_default{width:100%;height:auto;padding:80px;box-sizing:border-box;text-align:center;font-size:24px;line-height:100px;}
.lineup .tabs_wrapper .tab{width:100%;height:auto;}
.lineup .tabs_wrapper .tab .tab_con{width:550px;height:auto;position:relative;box-sizing:border-box;padding:20px 60px;border:1px solid #f2f2f2;overflow:hidden;margin-bottom:80px;}
.lineup .tabs_wrapper .tab .tab_con.list_view{width:100%;border:1px solid transparent;margin-bottom:20px;opacity:0.5;transition:all 0.3s;}
.lineup .tabs_wrapper .tab .tab_con.list_view:hover{border:1px solid #f7ed5c;opacity:1;}
.lineup .tabs_wrapper .tab .tab_con img{width:100%;}
.lineup .tabs_wrapper .tab .tab_con.list_view img{width:auto;}
.lineup .tabs_wrapper .tab .tab_con:nth-child(n){float:right;}
.lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(n) img{float:left;}
.lineup .tabs_wrapper .tab .tab_con:nth-child(2n){float:left;}
.lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n) img{float:right;}
.lineup .tabs_wrapper .tab .tab_con .tab_con_mask{position:absolute;top:-600px;left:0;width:100%;height:100%;background:rgba(247,237,93,0.8);font-family:'Noto Sans KR Black';font-size:28px;color:#222222;text-align:center;transition:all 0.3s;}
.lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask{top:0px;left:50%;width:50%;background:#999999;transform:skew(30deg,0deg);margin-left:300px;transition:all 0.5s ease-in;}
.lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n) .tab_con_mask{left:0px;transform:skew(-30deg,0deg);margin-left:-300px;}
.lineup .tabs_wrapper .tab .tab_con .tab_con_mask a{display:block;width:100%;height:100%;padding-top:24%;font-weight:900;box-sizing:border-box;}
.lineup .tabs_wrapper .tab .tab_con .tab_con_mask a p{display:none;}
.lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask a{font-size:36px;transform:skew(-30deg,0deg);margin-left:-100px;padding:0px 80px;padding-top:100px;box-sizing:border-box;}
.lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask a p{display:block;margin-top:70px;color:#999999;text-align:left;margin-left:150px;transition:all 0.5s;}
.lineup .tabs_wrapper .tab .tab_con.list_view:hover .tab_con_mask a p{margin-left:0px;}
.lineup .tabs_wrapper .tab .tab_con.list_view:hover .tab_con_mask a p:nth-child(1){color:#222222;}
.lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask a p span{display:inline-block;font-size:12px;font-weight:300;border:1px solid #999999;padding:5px;transform:skew(30deg);transition:all 0.3s ease-in;}
.lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n) .tab_con_mask a p span{transform:skew(-30deg);}
.lineup .tabs_wrapper .tab .tab_con.list_view .tab_con_mask a p span:hover{color:#f7ed5c;background-color:#222222;border-color:#222222;}
.lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n) .tab_con_mask a{padding-top:100px;transform:skew(30deg,0deg);margin-left:100px;}
.lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n) .tab_con_mask a p{text-align:right;margin-left:0px;margin-right:150px;transition:all 0.5s;}
.lineup .tabs_wrapper .tab .tab_con:hover .tab_con_mask{top:0px;}
.lineup .tabs_wrapper .tab .tab_con.list_view:hover .tab_con_mask{margin-left:200px;background:#f7ed5c;}
.lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n):hover .tab_con_mask{margin-left:-200px;}
.lineup .tabs_wrapper .tab .tab_con.list_view:nth-child(2n):hover .tab_con_mask a p{margin-right:0px;}
@media screen and (min-width:1664px){
    .lineup{width:1400px;}
    .lineup .lineup_img_wrapper img{transform:translateX(-5%);}
    .lineup .tabs_wrapper .tab .tab_con{width:650px;}
}
@media screen and (min-width:1601px) and (max-width:1663px){
    .lineup{width:1300px;}
    .lineup .tabs_wrapper .tab .tab_con{width:600px;}
}

/* detail */
.detail{width:1200px;margin:auto;position:relative;margin-bottom:280px;}
.detail .detail_img_wrapper{width:100%;height:600px;position:relative;box-shadow:0 0 30px #808080;padding:50px;box-sizing:border-box;}
.detail .detail_img_wrapper .detail_img{width:100%;height:100%;position:relative;}
.detail .detail_img_wrapper .detail_img .img{opacity:0.5;height:100%;position:absolute;top:0px;left:50%;margin-left:-442px;transition:all 0.5s ease-out;}
.detail .detail_img_wrapper .detail_img .img.on{opacity:1;}
.detail .detail_img_wrapper .detail_title{position:absolute;top:480px;left:30px;width:100%;height:auto;line-height:90px;font-family:'Noto Sans KR Black';font-size:80px;font-weight:900;letter-spacing:10px;}
.detail .detail_img_wrapper .detail_title .sub_title{font-size:30px;line-height:70px;}
.detail .detail_img_wrapper .detail_color{position:absolute;top:575px;right:40px;width:120px;height:50px;}
.detail .detail_img_wrapper .detail_color a{display:block;width:50px;height:100%;float:left;border-radius:25px;border:10px solid #ffffff;box-sizing:border-box;}
.detail .detail_img_wrapper .detail_color a.on{border:10px solid #f7ed5c;}
.detail .detail_img_wrapper .detail_color .chacol{background-color:#222222;}
.detail .detail_img_wrapper .detail_color .grey{background-color:#666666;float:right;}
.detail .detail_contents_wrapper{width:100%;height:auto;margin-top:100px;}
.detail .detail_contents_wrapper .detail_summary{width:100%;height:auto;}
.detail .detail_contents_wrapper .detail_summary .summary_wrapper{width:50%;height:auto;float:left;margin:20px 0px;font-weight:900;text-indent:30px;letter-spacing:5px;}
.detail .detail_contents_wrapper .detail_summary .summary_wrapper .description{width:100%;line-height:48px;font-size:28px;}
.detail .detail_contents_wrapper .detail_summary .summary_wrapper .category{width:100%;line-height:20px;font-size:16px;color:#808080;}
.detail .detail_contents_wrapper .detail_shop{width:100%;height:90px;margin-top:180px;line-height:90px;background:#f7ed5c;text-align:center;font-size:30px;}
.detail .detail_contents_wrapper .detail_shop a{display:block;width:160px;height:50px;float:right;background-color:#808080;font-size:20px;line-height:50px;margin-top:20px;margin-right:100px;color:#f7ed5c;transition:background-color 0.3s;}
.detail .detail_contents_wrapper .detail_shop a:hover{background-color:#222222;}
.detail .detail_contents_wrapper .detail_part_view{position:relative;width:100%;height:600px;overflow:hidden;margin-top:180px;}
.detail .detail_contents_wrapper .detail_part_view .detail_part_view_wrapper{position:relative;width:1066px;height:100%;margin:auto;}
.detail .detail_contents_wrapper .detail_part_view .detail_part_view_wrapper img{position:absolute;top:0;left:0;width:100%;}
.detail .detail_contents_wrapper .detail_part_view .detail_part_view_dots{position:absolute;bottom:20px;left:50%;margin-left:-45px;width:90px;height:30px;}
.detail .detail_contents_wrapper .detail_part_view .detail_part_view_dots .dot{display:block;width:20px;height:20px;background:#222222;border-radius:10px;margin:5px;float:left;}
.detail .detail_contents_wrapper .detail_part_view .detail_part_view_dots .dot.on{background:#f7ed5c;}
.detail .detail_contents_wrapper .detail_more{position:relative;width:100%;height:auto;overflow:hidden;margin-top:180px;}
.detail .detail_contents_wrapper .detail_more .detail_more_img img{width:100%;}
.detail .detail_contents_wrapper .detail_more .detail_more_text{width:100%;height:20px;margin-top:50px;font-size:16px;color:#666666;font-weight:300;text-align:center;}
.detail .detail_contents_wrapper .to_list{display:block;width:140px;height:50px;font-size:16px;line-height:50px;margin:auto;margin-top:100px;background:#f7ed5c;color:#222222;text-align:center;}
.detail .detail_contents_wrapper .to_list:hover{background:#222222;color:#f7ed5c;}
@media screen and (min-width:1664px){
    .detail{width:1400px;}
}
@media screen and (min-width:1601px) and (max-width:1663px){
    .detail{width:1300px;}
}